.image-uploader p { font-weight: bold; margin-bottom: 1em; }
.image-uploader .inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.image-uploader label { margin-top: 1em; }

.uploaded { font-weight: bold; }
.uploaded td { padding: 1em; vertical-align: middle; }

.uploaded-img { width: 100px; height: 100px; overflow: hidden; }

.u-text-right { text-align: right; }

.buttons { padding: 1em 20px; }
