/*
Error: Inconsistent indentation: 7 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 331 of f:/sass/proj/pres-repo/sass/_mail.sass
        from line 7 of f:/sass/proj/pres-repo/sass/screen.sass

326:     position: relative
327:     
328:     .zmdi
329:         float: left
330:         margin-left: -20px
331:        // color: #dddddd
332:         cursor: pointer
333:     
334:     .select-category
335:         width: 200px
336:         background: #ffffff 

Backtrace:
f:/sass/proj/pres-repo/sass/_mail.sass:331
f:/sass/proj/pres-repo/sass/screen.sass:7
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:483:in `block in tabulate'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:441:in `each'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:441:in `each_with_index'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:441:in `tabulate'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:406:in `_to_tree'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:309:in `to_tree'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:20:in `render'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
d:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 7 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 331 of f:/sass/proj/pres-repo/sass/_mail.sass\A         from line 7 of f:/sass/proj/pres-repo/sass/screen.sass\A \A 326:     position: relative\A 327:     \A 328:     .zmdi\A 329:         float: left\A 330:         margin-left: -20px\A 331:        // color: #dddddd\A 332:         cursor: pointer\A 333:     \A 334:     .select-category\A 335:         width: 200px\A 336:         background: #ffffff "; }
