.btn-table-container {
    border: 0px !important;
}

.admin-flex-block {
    display: flex;
    margin-bottom: 20px;
}

.admin-flex-block__settings {
    width: 50%;
    padding: 24px 0 24px 24px;
    border-left: 1px solid #333333;
}

.admin-flex-block__description {
    width: 50%;
    padding: 24px 10px 24px 0px;
}

.without-border .t-td {
    border: none;
}

.wide-btns .btn {
    width: auto !important;
}

.passwd-form-wrapper {
    border: 1px solid #9D9E9E;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    display: table;
    width: 100%;
}

.signature-image-div,
.uploaded-file-preview {
    display: none;
    margin-right: 10px;
    vertical-align: bottom !important;
}

.signature-image {
    display: block;
}

.table-add-item {
    display:none;
}

.download-img-flex-block {
  display: flex;
  align-items: center;
  }