em {
  font-style: italic;
}

///////// add document //////
.panel-add-document {
  .dropdown-wrapper {
    position: relative;

    .ps-dropdown {
      position: absolute;
      display: none;
      width: 100%;
      z-index: 100;
      border-radius: 0;
      background: #F4F5F5;
    }
    .selected-file {
      margin-bottom: 20px;
    }
  }
  &.ps-dropup {
    .ps-dropdown {
      bottom: 0;
    }
  }
}

.dropdown-menu > li > a {
  cursor: pointer;
  &.selected {
    background: #007DC3 !important;
    color: #fff !important;
  }
}

.if-edit-vendor {
  display: none;

  @at-root .if-edit-vendor-true {
    display: block;
  }
  @at-root i.if-edit-vendor-true {
    display: inline-block;
  }
}

.inline-btn {
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 3px 0 0;
}

.btn-file {
  position: relative;
  overflow: hidden;

  & input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.auto-size {
  $minHeight: 28px;
  min-height: $minHeight;
  max-height: $minHeight * 3;
  box-sizing: border-box;
  overflow-x: hidden;
}

.row-fields {
  display: table;
  width: 100%;

  .field-name {
    display: table-cell;
    vertical-align: middle;
  }
}

/////////// notifications ////////
.ntfs-success {
  color: #007DC3;
}

////////// datepicker //////////////
.datepicker {
  &.datepicker-custom {
    padding: 0;
  }
}

///////// vendor-details //////////
.vd-page th {
  width: 300px;
}

.vd-page {
  .label {
    padding-left: 0;
  }
}

.btns {
  .notes-range,
  .dropdown {
    display: inline-block;
  }
}

///////////// vendor notes /////////////
.cont-more-block {
  .note-wrapper {
    padding: 0.3em;
    background: #F4F5F5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  &.cont-more-block-hidden {
    display: none;
  }
}

/////

.hide-block {
  display: none;
}

.filter-item {
  display: inline-block;
}

textarea {
  height: 500px !important;
}

.mce-btn-group > * {
  white-space: normal !important;
}

.notes {
  table {
    min-width: 900px;
  }
  .see-more {
    min-width: 10%;
  }
}

.table-overview {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.products-full {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;
  .vp-options {
    .table {
      th {
        background: #f4f5f5;
      }
    }
    .label.check-label {
      display: inline;
    }
  }
}
.vp-options {
  .label.check-label {
    display: inline;
  }
}