.mail-logo-block
    display: inline-block
    width: 64px
    height: 64px
    position: absolute
    top: 0
    left: 0
    //display: none
    
    @media screen and (min-width: 767px)
        display: block
        position: relative
        float: left
        margin-right: 24px
        
.mail-inner-header
    .mail-logo-block
        @media screen and (min-width: 1200px)
            display: none
    
.logo--inner
    display: block
    width: 64px
    height: 64px
    background: url('../img/logo.svg') center center no-repeat
    
.mail-title
    display: inline-block
    position: absolute
    left: 50%
    transform: translateX(-50%)
    font-size: 26px
    color: #222222
    height: 64px
    line-height: 64px
    
    @media screen and (min-width: 767px)
        position: relative
        left: auto
        transform: none
        font-size: 31px
        float: left
        
.mail-inner-header
    .mail-title
        @media screen and (min-width: 1200px)
            position: absolute
            left: 50%
            transform: translateX(-50%)
            font-size: 26px
            
.header-user-info
    position: absolute
    right: 60px
    top: 50%
    transform: translateY(-50%)
    @media screen and (min-width: 480px)
        float: right
        position: relative
        right: auto
        top: auto
        transform: none
        margin-top: 10px
        margin-right: 14px
        padding-right: 30px
    @media screen and (min-width: 480px) and (max-width: 767px)
        padding-right: 70px 
        
.hui-img
    float: left
    margin-right: 30px
    @media screen and (min-width: 480px)
        margin-right: 15px 
    img
        width: 40px
        height: 40px
        border-radius: 50%
        
.hui-links
    float: left
    display: none
    @media screen and (min-width: 670px)
        display: block
    
    a
        font-size: 14px
        color: rgba(0, 0, 0, 0.65)

    span
        display: block
        
    & + .zmdi
        position: absolute
        top: 50%
        right: 10px
        margin-top: -8px
        
        @media screen and (min-width: 480px) and (max-width: 767px)
            right: 55px 
        
.sidebar.sidebar--mail
    // width: 250px
    display: none
    width: 250px
    height: 100%
    transition: width .3s ease-in-out
    overflow-x: hidden
    // float: left
    @media screen and (min-width: 767px)
        display: block
        width: 64px
        height: 100%
        float: left
        
        .sidemenu span
            opacity: 0
        
    span
        // display: none
        opacity: 1   
        transition: all .3s ease-in-out
        transition-delay: .2s
        // @media screen and (min-width: 767px)
        //     display: block
        
    &:hover
        width: 250px
        span
            // display: block
            opacity: 1 
                
    .sidemenu
        @media screen and (min-width: 767px)
            padding-right: 30px
        a
            font-weight: 300 
            i
                left: 10px
                @media screen and (min-width: 767px)
                    left: 5px
                &.active
                    background: #FFF
                    color: #007dc3
                    
.mail-wrapper
    position: fixed
    width: 100%
    height: calc(100% - 64px)
    top: 64px
    left: 0
    overflow: hidden
    @media screen and (min-width: 767px)
        width: calc(100% - 64px)
        left: 64px 

.mail-container
    height: 100vh
    //float: left
                    
.mailboxes
    width: 100%
    height: calc(100vh - 160px)
    overflow-y: auto
    text-align: center
    padding: 24px 24px
    position: fixed
    left: 0
    top: 95px
    z-index: 1
    @media screen and (min-width: 724px)
        width: 300px
        
    @media screen and (min-width: 768px)
        left: 64px
    
.btn--compose
    width: 100%
        
.mailboxes__list
    text-align: left
    margin-top: 24px
    margin-bottom: 30px
    
    li
        cursor: pointer
    
    i
        margin-right: 10px
        
.mailbox:not(:last-child)
    margin-bottom: 12px     
        
.mailbox--inner
    margin-left: 33px
    color: #969C9C
    font-size: 15px
    margin-bottom: 10px
    
.mailbox--active
    color: #333333 

.mailbox-link
    display: block
    margin-bottom: 20px
    
.mailboxes__links
    position: relative
    display: inline-block
    text-align: left
    
.dropdown-menu
    width: 230px
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50)
    z-index: 2
    padding: 15px 20px
    border-radius: 0
    text-align: center
    
    .btn-wrapper
        display: inline-block
        margin: 20px auto 0
        text-align: center
        margin-bottom: 0
        
        .btn
            float: none
            display: inline-block
            padding: 5px 8px 
        
        .btn:not(:last-child)
            margin-right: 10px
    
    input[type="text"]
        width: 200px
        border: none
        outline: none
        border-bottom: 1px solid #979797
        
    li:not(:first-child)
        margin-top: 15px
        
    span
        display: inline-block
        width: 15px
        height: 15px
        margin-right: 5px 
        background-clip: content-box
        padding: 2px
        cursor: pointer
    .label-color1
        background-color: #784C4C
    .label-color2
        background-color: #AA2AC8 
    .label-color3
        background-color: #3E74B3 
    .label-color4
        background-color: #20C242 
    .label-color5
        background-color: #E4CF2A 
    .label-color6
        background-color: #E42A2A 
    span.checked
        border: 1px solid #000
        
    .category-colors
        margin-top: 10px
        font-size: 0
    
.mail-list
    width: 100%
    height: calc(100vh - 140px)
    overflow-y: auto
    background: #FFF 
    position: fixed
    top: 95px
    left: 300px

    transition: left .3s ease-in-out
    z-index: 2
    @media screen and (min-width: 724px)
        width: calc(100vw - 300px)
        
    @media screen and (min-width: 768px)
        width: calc(100vw - 64px - 300px)
        left: 364px
        
.mail__search
    padding: 30px 18px 7px 18px
    color: #969C9C 
    border-bottom: 1px solid #DDDDDD
    
    input
        font-size: 12px
        border: none
        outline: none
        
.mail-preview
    padding: 20px 18px 20px
    border-bottom: 1px solid #DDDDDD
    position: relative
    cursor: pointer
    &:last-child
        margin-bottom: 280px
    
    &:hover
        background: rgba(221, 221, 221, 0.35)
    
    .from
        font-size: 14px
        float: left
        
    .date
        float: right
        font-size: 12px
        color: #969C9C
        
.mail-subject
    display: block
    clear: both
    font-weight: 500
    padding-top: 5px
    padding-bottom: 5px
    
.mail-preview__header
    padding-left: 20px
    position: relative
    
    .zmdi
        float: left
        margin-left: -20px
        cursor: pointer
    
    .select-category
        width: 200px
        background: #ffffff 
        padding: 10px  
        position: absolute
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) 
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) 
        z-index: 9
        display: none
        
        .cat-btn
            text-align: right
            margin: 10px 0
            
            .btn
                padding: 5px 8px
        
    .select-category__list
        margin-top: 10px
        
        li
            margin-bottom: 5px
            padding-left: 15px
            cursor: pointer
            
        .cat1
            position: relative
            &:before
                content: ''
                width: 10px
                height: 10px
                background: #784C4C
                position: absolute
                left: -15px
                top: 6px 
                
        .cat2
            position: relative
            &:before
                content: ''
                width: 10px
                height: 10px
                background: #AA2AC8
                position: absolute
                left: -15px
                top: 6px 
                
        .cat3
            position: relative
            &:before
                content: ''
                width: 10px
                height: 10px
                background: #3E74B3
                position: absolute
                left: -15px
                top: 6px 
        
        .cat4
            position: relative
            &:before
                content: ''
                width: 10px
                height: 10px
                background: #20C242
                position: absolute
                left: -15px
                top: 6px 
                
        .cat5
            position: relative
            &:before
                content: ''
                width: 10px
                height: 10px
                background: #E4CF2A
                position: absolute
                left: -15px
                top: 6px 
                
        .cat6
            position: relative
            &:before
                content: ''
                width: 10px
                height: 10px
                background: #E42A2A
                position: absolute
                left: -15px
                top: 6px 
                
.cat-remove
    display: none
    
.mail-preview__content
    font-size: 14px
    line-height: 19px
    color: #969C9C 
    padding-left: 20px
    
.attachment
    display: inline-block
    position: absolute
    right: 18px
    bottom: 20px
    
.active-mail
    background: rgba(221, 221, 221, 0.35)
    border-left: 3px solid #007CC1 
    padding-left: 15px
    
.mail-full
    width: 100%
    height: calc(100vh - 50px)
    overflow-y: auto
    position: fixed
    top: 95px
    left: 0
    padding: 24px 24px 0
    background: #FFF 
    z-index: 3
    @media screen and (min-width: 768px)
        width: calc(100vw - 64px)
        left: 64px

.mail-full__header
    border-bottom: 1px solid #E5E6E6
    padding-bottom: 5px
    
.mfh-from
    float: left
    
.mfh-subject
    font-size: 39px
    display: block
    margin-bottom: 10px
    @media screen and (max-width: 480px)
        font-size: 20px
    
.mfh-from
    font-size: 14px
    
.mfh-info
    float: right
    margin-top: 15px
    text-align: right
    
    i:not(:first-child)
        margin-left: 10px 
    i 
        cursor: pointer
    
    
.mfh-date
    display: block
    margin-top: 19px
    font-size: 12px
    color: #969C9C
    
.mfh-attachment
    clear: both
    font-size: 14px
    color: #969C9C
    padding-top: 10px
    cursor: pointer
    
    .zmdi-delete
        margin-left: 10px
        color: #333333 
    
.mail-full__content
    padding: 24px 0 60px
    line-height: 24px 
    
.mail-full__reply
    margin-bottom: 148px
    
.inputfile
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1
    
.mfr-data
    padding: 15px 20px
    font-size: 14px
    font-weight: 500
    border-top: 1px solid #969C9C
    border-left: 1px solid #969C9C
    border-right: 1px solid #969C9C
    
    input
        width: 90%
        border: none
        outline: none
        font-size: 14px
        font-weight: 500
        
    
    i
        margin-right: 10px
.mail-author 
    width: 30%
    padding-top: 6px
  
.mfr-data--bottom
    border-bottom: 1px solid #969C9C
    border-top: none
    padding: 0
    
    .btn
        box-shadow: none
        border-radius: 0
        margin-right: 20px
        padding-left: 14px
        padding-right: 14px
    
    i
        cursor: pointer
        
    .zmdi-delete
        float: right
        margin-top: 11px
        
    .mfr-draft
        float: right
        margin-right: 0
        margin-left: 10px
        
.mail-back-inbox
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 10px
    
    a
        color: #007DC3 
        
    i
        font-size: 36px
        vertical-align: middle
        position: relative
        top: -2px
        
.mail-back-mailboxes
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 10px
    display: none
    a
        color: #007DC3 
        
    i
        font-size: 36px
        vertical-align: middle
        position: relative
        top: -2px
        
.contacts-back
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 10px
    display: none
    a
        color: #007DC3 
        
    i
        font-size: 36px
        vertical-align: middle
        position: relative
        top: -2px
        
.footer--mail
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    z-index: 9


.positive
    min-width: 99px
    
.mail-contacts
    width: 100%
    position: fixed
    left: 0
    top: 95px
    height: 100%
    padding: 0 18px 
    overflow-y: auto
    background: #FFF 
    padding-bottom: 25px
    @media screen and (min-width: 768px)
        width: calc(100% - 64px)
        left: 64px
    
    .btn-contact
        float: right
        margin-top: 24px
        
        @media screen and (max-width: 360px)
            float: none
            display: block
            margin: 0 auto 20px
            width: 90%
    
    .forms-wrapper
        width: 100%
        max-width: 650px 
        padding: 24px
        margin-bottom: 156px
        overflow-x: auto
        
        form
            width: 602px
    
    h1
        float: left
        padding: 30px 0
        
        @media screen and (max-width: 360px)
            padding: 20px 0 
        
    table
        -webkit-box-shadow: none 
        box-shadow: none 
    
    td:not(:last-child),
    th:not(:last-child)
        border-right: 1px solid #969C9C
    
    .zmdi-delete
        color: red
        margin-left: 10px
        
    i
        cursor: pointer
        
.mail-contacts-header
    overflow: auto
        
.tr.edit-buttons
    text-align: right
    display: none
    
.new-mail
    padding: 24px
    
.edit-folder-buttons
    .btn + .btn
        margin-right: 24px
        
.mailbox-link.field-value-hidden
    display: none
.mail-pager 
    padding-top: 30px
    text-align: center
    margin: auto
.mail-category-select 
    width: 36%
    padding-top: 20px
.mail-label 
    margin-bottom: 10px
    display: block
.atach-docs 
    width: 70%
    display: inline-block
    position: relative
    top: 8px
    left: 0
    padding-bottom: 9px
    div.Tokenize ul.TokensContainer 
        height: 24px
    div.Tokenize ul.TokensContainer, div.Tokenize ul.Dropdown
        border: none
        