/////////////////// oleg styles /////////////////////
.mail-tokenize-send {
    float: left;
}

.um-table {
	.t-th, .t-td {
		vertical-align: top;
	}
}

.show-preloader-wrapper { display: block; }

.notes-block {
    min-height: 240px;
    width: 100%;
}

.notes-text {
    display: block;
    min-height: 215px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.add-notes-text {
    display: block;
    min-height: 300px;
    width: 100%;
}

.notes-text.border, .add-notes-text.border { border: solid 1px #cacaca; }

.mail-form-list {
    position: relative;
}

#mainContent {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}