@media (max-width: 1260px) {
	.some-title {
		font-size: 21px;
	}
	
	.search-form {
		.form-control {
			width: 60%;
			padding-right: 35px;
			padding-left: 5px;
			font-size: 12px;
			position: relative;
			top: 2px;
		}
		&.os-form {
			.form-control {
				padding-right: 40px;
			}
			.input-group-btn-os {
				top: 7px;
			}
		}
	}
	.user-top-block {
		width: 55%;
	}
} 
@media (max-width: 1080px) {
	.weather {
		font-size: 23px;
		position: relative;
		top: 7px;
		i {
			font-size: 27px;
			top: 3px;
		}
	}
	.location {
		font-size: 14px;
		padding-top: 22px;
	}
	.ask {
		padding-top: 21px;
	}
	.sidemenu {
		font-size: 14px;
	}
	.sidebar {
		padding-left: 0;
	}
	.page-top h1 {
		font-size: 25px;
		padding-top: 8px;
	}
}
@media (max-width: 1023px) {
	.ask {
		font-size: 14px;
		padding-top: 23px;
	}
	.user-top-block {
		width: 57%;
	}
	.ctt-text {
		float: none;
	}
	.c-top-link {
		float: none;
	}
	.pt-bot {
		overflow: hidden;
		clear: both;
	}
	.login-block {
		top: 150px;
	}

	//
	.table-vp {
		.vp-th {
			width: 155px;
		}
	}
	.utb-sm-w64p {
		width: 64%;
	}
}

@media (max-width: 767px) {
	// .sidebar {
	// 	position: relative;
	// 	padding-top: 10px;
	// 	min-height: 1px;
	// }
	.header {
		padding-bottom: 10px;
	}
	.wrapper {
		position: relative;
		display: block;
	}
	.search-form {
		padding-bottom: 10px;
		.form-control {
			font-size: 14px;
			padding-left: 5px;
			padding-right: 35px;
			width: 50%;
		}
		&.os-form {
			.form-control {
				padding-right: 40px;
			}
		}
		.search-adv {
			float: left;
			margin-left: 10px;
		}
	}
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 21px;
	}
	.table {
		font-size: 13px;
		th {
			width: 40%;
		}
	} 
	.menu-btn {
		position: absolute;
		right: 20px;
		top: 15px;
		font-size: 40px;
		display: block;
		cursor: pointer;
	}
	.sidebar {
		display: none;
	}
	.maindrop {
		top: 175px;
	}
	.search-form-audit {
		margin-bottom: 20px;
	}
	.utp-dropdown {
		padding-top: 215px;
	}
	.os-form {
		.form-group {
			width: 41%;
			margin-right: 15px;
		}
	}
	.logo {
		width: 70%;
		height: 135px;
		display: block;
		margin: auto;
		-webkit-background-size: 100% auto !important;
		     -o-background-size: 100% auto !important;
		        background-size: 100% auto !important;
		background: url(../img/icons/logo.png) 0 0 no-repeat;
	}
	.login-block {
		top: 10px;
	}
	.md-table-wrapper {
		width: 100%;
		-ms-overflow-x: scroll;
		    overflow-x: scroll;
	}
	.vd-docx-block {
		.table {
			min-width: 600px;
		}
	}
	.content {
		padding-left: 10px;
	}
	.ask {
		margin-left: 10px;
	}
	.sidemenu {
		padding-top: 50px;
	}
}

@media (max-width: 702px){
	.vp-options {
		.products-full {
			margin-right: 0;
			margin-left: 0;
			.table {
				th,
				.tb-th {
					width: 105px;
				}
			}
		}
	}
	.table-vp {
		min-width: 620px;
		.vp-th {
			width: 130px;
		}
		.contact-more-block{
			padding-top: 10px;
			min-width: 500px;

			.products-full {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 600px) {
	.radio {
		.label {
				float: none;
				display: block;
			}
		}
		.email-tooltip {
			&:before {
				content: "";
				top: -5px;
				left: 10px;
			}
		}
	}
@media (max-width: 480px) {
	.btn-wrapper {
		text-align: center;
		nav {
			float: none;
		}
		.btn {
			float: none;
		}
	}
	.radio {
		label {
			display: block;
			text-align: left;
		}
		&.preferred {
		label {
			float: none;
			margin-right: 0px;
			}
		}
	}
	.adtn-cont-top {
		.adtn-select {
			float: none;
			margin-bottom: 20px;
		}
	}
	.search-form {
		padding-top: 75px;
		padding-left: 10px;
	}
	.search-form .form-control {
		width: 60%;
	}
	.search-form-adv {
		top: 119px;
	}
}

@media screen and (min-width: 768px) {
	.sidebar {
		display: block !important;
	}
}


