<div class="col-md-2">
  <ul class="adtn fr hidden-xs">
    <li><a href="#" class="btn btn-primary">Edit Type of Notes</a></li>
    <li><a href="#" class="btn btn-primary">Edit Classes</a></li>
    <li><a href="#" class="btn btn-primary">Edit MFG Terms</a></li>
    <li><a href="#" class="btn btn-primary">Edit U/M</a></li>
    <li><a href="#" class="btn btn-primary">Edit QSS Numbers</a></li>
    <li><a href="#" class="btn btn-primary">Edit Disperancy Codes</a></li>
    <li><a href="#" class="btn btn-primary">Edit Issue Types</a></li>
    <li><a href="#" class="btn btn-primary">Edit Additional Items</a></li>
    <li><a href="#" class="btn btn-primary">Edit Vendor Notes</a></li>
    <li><a href="#" class="btn btn-primary">Content Management</a></li>
    <li><a href="#" class="btn btn-primary">Bulk Updates</a></li>
  </ul>

  <select class="form-control visible-xs">
    <option>Edit Type of Notes</option>
    <option>Edit Classes</option>
    <option>Edit MFG Terms</option>
    <option>Edit U/M</option>
    <option>Edit QSS Numbers</option>
    <option>Edit Disperancy Codes</option>
    <option>Edit Issue Types</option>
    <option>Edit Additional Items</option>
    <option>Edit Vendor Notes</option>
    <option>Content Management</option>
    <option>Bulk Updates</option>
  </select>
  
  
</div><!-- col-md-3 -->