<header class="header clearfix">
  <div class="mail-logo-block">
            <a href="#" class="logo--inner"></a>
        </div><!-- logo-block  -->
          <div class="mail-back-inbox">
              <a href="#"><i class="zmdi zmdi-chevron-left"></i> Inbox</a>
          </div>
          <div class="mail-back-mailboxes">
              <a href="#"><i class="zmdi zmdi-chevron-left"></i> Mailboxes</a>
          </div>
        <div class="mail-title">
    Mail
  </div><!-- some-title -->
  <div class="header-user-info">
              <div class="hui-img">
                  <a href="#"><img src="uploads/images/admin.jpg" alt=""/></a>
              </div><!-- hui-img -->
              <div class="hui-links">
                <a href="#" class="hui-name">John Doe</a><br>
                <span class="utp-status">Administrator</span>
                  <a href="#">Logout</a>
                  <a href="#">My account</a>
              </div><!-- hui-links -->
              <i class="zmdi zmdi-chevron-down"></i>
          </div><!-- header-user-info -->
           <span class="menu-btn">
              <i class="zmdi zmdi-menu"></i>
          </span>
</header>