<header class="header clearfix">
  <div class="col-md-4 col-sm-4  col-xs-12 logo-block tal">
    <a href="#" class="inner-logo"></a>
    <span class="some-title">
      {{pagetitle}}
    </span><!-- some-title -->
  </div><!-- col-md-2  -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <form class="form search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search vendors…">
        <span class="input-group-btn">
          <button class="btn btn-search" type="button">
            <i style="" class="zmdi zmdi-search"></i>
          </button>
          <a href="#" class="search-adv">Advanced search</a>
        </span>
      </div>
    </form>

    <form class="search-form-adv">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="field1">
      </div><!-- form-group -->

      <div class="form-group">
        <input type="text" class="form-control" placeholder="field2">
      </div><!-- form-group -->

      <div class="form-group">
        <input type="text" class="form-control" placeholder="field3">
      </div><!-- form-group -->

      <div class="form-group">
        <input type="checkbox" id="ch1">
        <label for="ch1">Checkbox 1</label>
      </div><!-- form-group -->

      <div class="form-group">
        <input type="checkbox" id="ch2">
        <label for="ch2">Checkbox 2</label>
      </div><!-- form-group -->

      <div class="form-group">
        <input type="checkbox" id="ch3">
        <label for="ch3">Checkbox 3</label>
      </div><!-- form-group -->

      <div class="form-group">
        <button class="btn btn-primary">Search</button>
      </div><!-- form-group -->
    </form>
  </div><!-- col-md-3 -->


  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <a href="#" class="ask hidden-sm"><i class="zmdi zmdi-help-outline"></i> Ask Question</a>

    <div class="user-top-block utb-sm-w64p">
      <div class="utp-img">
        <a href="#"><img src="uploads/images/admin.jpg" alt="" /></a>
      </div><!-- utp-img -->
      <a href="#" class="utp-name">John Doe</a><br>
      <span class="utp-status">Administrator</span>
      <div class="utb-links">
        <a href="#">Logout</a>
        <a href="#">My account</a>
      </div><!-- utb-links -->
      <i class="zmdi zmdi-chevron-down"></i>
    </div><!-- user-top-block -->

  </div><!-- col-md-3 col-md-offset-1 -->

  <span class="menu-btn"><i class="zmdi zmdi-menu"></i></span>
</header>