<div class="sidebar sidebar--mail">
  <ul class="sidemenu">
    <li><a href="#"><i class="zmdi zmdi-home"></i> <span>Dashboard</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-email"></i> <span>Mail</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-case"></i> <span>Vendors</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-comment"></i> <span>Quoting</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-check-all"></i> <span>RFQ Validation</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-money"></i> <span>Purchase Order</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-receipt"></i> <span>Contact</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-puzzle-piece"></i> <span>Inventory Management</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-group-work"></i> <span>Job Costing</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-compass"></i> <span>Marketing</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-thumb-up"></i> <span>Quality</span></a></li>
    <li><a href="#"><i class="zmdi zmdi-chart"></i> <span>Reports</span></a></li>
  </ul>
</div><!-- sidebar -->