 {{> header--mail pagetitle="Mail"}}

{{> sidebar}}

<div class="container-fluid">
    <div class="row wrapper">
        <div class="mail-wrapper">
             <ol class="breadcrumb">
                <li><a href="#">Vendors</a></li>
                <li class="active">Main</li>
              </ol>
            <div class="mail-container">
                <div class="mail-full">
                    <div class="mail-full__header clearfix">
                        <div class="mfh-from">
                            <span class="mfh-subject">I'm on my way</span>
                            <span class="mfh-from">Robert Smith</span>
                        </div>
                        <div class="mfh-info">
                            <i class="zmdi zmdi-mail-reply"></i>
                            <i class="zmdi zmdi-mail-reply-all"></i>
                            <i class="zmdi zmdi-forward"></i>
                            <i class="zmdi zmdi-delete"></i>
                            <span class="mfh-date">Today, 12:45 am</span>
                        </div>
                        <div class="mfh-attachment">
                            <i class="zmdi zmdi-attachment-alt"></i>
                            <span>Document_name.pdf</span>
                            <i class="zmdi zmdi-delete js-remove-attachment"></i>
                        </div>
                    </div>
                    <div class="mail-full__content">
                        <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum. Etiam nisi ante, consectetur eget placerat a, tempus a neque. Donec ut elit urna. Etiam venenatis eleifend urna eget scelerisque. Aliquam in nunc quis dui sollicitudin ornare ac vitae lectus.</p>
                    </div>
                    <div class="mail-full__reply">
                        <div class="mfr-data">
                           <div class="token-wrapper">
                                <select id="tokenize" multiple="multiple" class="tokenize-sample">
                                    <option value="1">Dave</option>
                                    <option value="2">Paul</option>
                                    <option value="3">Michel</option>
                                    <option value="4">Anna</option>
                                    <option value="5">Eleanor</option>
                                </select>
                          </div><!-- token-wrapper -->

                             <div class="mail-category-select clearfix">
                                <select class="form-control">
                                    <option>category</option>
                                    <option>category</option>
                                    <option>category</option>
                                    <option>category</option>
                                </select>
                            </div><!-- category select -->
                        </div>
                       
                        <textarea name="" id="mail-reply" class="editor-source">
                        </textarea>
                        <div class="mfr-data mfr-data--bottom">
                            <button type="button" class="btn">Send</button>
                            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple>
                            <label for="file">
                                <i class="zmdi zmdi-attachment-alt"></i>
                                <span></span>
                            </label>
                            <button type="button" class="btn mfr-draft">Cancel</button>
                            <button type="button" class="btn mfr-draft">Save</button>
                        </div>
                    </div>
                 </div><!-- end mail-full -->
            </div><!-- end mail-container -->
        </div><!-- end mail-wrapper -->
        {{> footer}}
    </div><!-- end row -->
</div><!-- end container -->
</body>
</html>